@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/* HEADER */
header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* padding:12px 15px; */
}

.header .header-item ul {
    display: flex;
    align-items: center;
    gap: 10px
}

.header .header-item ul li {
    list-style-type: none;
    position: relative;
}

/* SUB MENU BAR */

.header .header-item ul li:hover .sub-menu {
    display: block;
}

.header .header-item ul .sub-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-width: 250px;
    display: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
}

.header .header-item ul .sub-menu.active {}

/* END SUB MENU BAR */

.header .header-item ul li a {
    text-decoration: none;
    color: var(--text-color-main);
    display: block;
    padding: 12px;
    position: relative;
    font-size: 18px;

}

.header .header-item.navigation ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--background-color-main);
    transform-origin: left center;
    transform: scaleX(1);
    transition: width .3s ease;
    border-radius: 100px;
}

.header .header-item.navigation li a:hover::before {
    width: 100%;
    transition: width .2s ease-in-out;
}

.header .header-item.navigation ul li a.active::before {
    width: 100%;
    transition: width .2s ease-in-out;
}

.header .header-item.navigation ul li a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;

}

.header .header-item.navigation ul li a span {
    font-size: 18px;
}

.header .header-item.action ul li a {

    padding: 4px 8px;
    border-radius: 50%;
}

.header .header-item.action ul li a:hover {
    background: #e7e3e3;

}

.header .header-item.action ul li a span {
    font-size: 20px;
}

.header .header-item.action ul li a span.count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    background: var(--background-color-main);
    color: var(--text-color-white);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    margin-right: -4px;
}

/* MENU MOBILE */
.header .header-item.menu-bar {
    font-size: 36px;
    font-weight: 500;
    display: none;
}

.header .header-item.menu-bar ul {
    display: block;
    padding: 8px
}

.header .header-item.menu-bar ul li {

    border-bottom: 1px solid var(--border-color-main);
    width: 30px;
    margin: 8px 0;

}

/* .header .header-item.menu-bar ul li:first-child{
    border-bottom: none;
}

.header .header-item.menu-bar ul li:nth-child(3){
    transform: rotate(45deg);
}
.header .header-item.menu-bar ul li:nth-child(2){
    transform: rotate(-45deg);
} */

.header-mb {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 93%;
    background: #f5f5f5;
    margin-top: 50px;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}

.header-mb ul li {
    position: relative;
}

.header-mb ul li a {
    display: block;
    /* margin: 8px 0; */
    padding: 8px;
    text-decoration: none;
    color: var(--text-color-main);
    border-bottom: 1px solid #eeee;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px
}

.header-mb ul li a span:nth-child(1) {
    font-size: 20px;
}

.header-mb ul li span.icon-dropdown-menu {
    position: absolute;
    right: 0;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    top: 0;
    font-size: 16px;
}

.header-mb .sub-menu ul {
    padding-left: 4rem;
    /* max-height: 0; */
    display: none;
    overflow: hidden;
    transform: all .3s ease-in-out;
}

.header-mb .sub-menu ul.show {
    max-height: 450px;
}

/* END MENU MOBILE */

/* POPUP */

.popup-fixed {
    position: fixed;
    display: flex;

    justify-content: center;
    background: rgba(0, 0, 0, 0.30);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.popup-fixed.show {
    display: flex;
}

.popup-fixed .popup-close {
    position: absolute;
    right: 0;
    color: var(--text-color-white);
    font-size: 48px;
    top: 0%;
    transform: translate(-50%);
    cursor: pointer;
}

.popup-fixed .popup-modal {
    max-width: 100%;
    width: 90%;
    position: relative;
    top: 10%
}

.popup-modal #search {
    position: relative;
}

.popup-modal #search input::placeholder {
    font-size: 18px;
}

.popup-modal #search form input {
    border-radius: 100px;
    padding: 24px
}

.popup-modal #search form button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--background-color-main);
    color: var(--text-color-white);
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4px;
    padding: 20px
}


.popup-modal #search .result {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 450px;
    background: #fff;
    margin-top: 64px;
    padding: 8px;
    border-radius: 6px;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-radius: 12px;
    display: none;

}

.popup-modal #search .result.show {
    display: block;
}

.result {}

.result .result-title span.result-count {
    font-weight: 700;
    margin: 0 4px;
}

.result-list {
    margin-top: 12px;
}



.result-list .result-item {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

.result-item .result-left .result-image {
    width: 120px;
    border-radius: 6px;
    overflow: hidden;

}

.result-item .result-left .result-image img {
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.result-item .result-left .result-image img:hover {
    transform: scale(1.2);
}

.result-list .result-right {}

.result-content .result-content__item {

    font-size: 18px;
    margin: 4px 0;
}

.result-content .result-content__item.result-name {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 20px
}

.result-content .result-content__item.result-price {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.result-content .result-content__item.result-desc {
    font-size: 16px;
    color: #cdcdcd;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-content .result-content__item .price {
    font-size: 16px;
    font-weight: 700;
}

.result-content .result-content__item .price-old {
    color: #c5c5c5;
    text-decoration: line-through;
    font-size: 14px;
}


/* END POPUP */

#banner {

    /* background: rgb(147, 33, 234); */
    background: url(../images/bg-banner.jpg);
    position: relative;
    background-size: cover;
}

.banner-list{
    height: 500px;
    position: relative;
    overflow: hidden;
}

.banner-item__content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-item__content h1 {
    font-size: 20px;
}

.banner-item__content h2{
    font-size: 48px;
}

.banner-item__content .view-more a {
    color: #fff;
    padding: 12px 24px;
    border-radius: 100px;
}

.banner-item .banner-item__image{
    position: absolute;
    right: 0;
    max-width: 238px;
    top: 50%;
    transform: translateY(-50%);
    
}

/* .banner-container {
    position: relative;
    max-height: 600px;
    min-height: 450px;
}

.banner-content {
    position: absolute !important;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
}

.banner-content h1 {
    font-size: 20px;
    color: var(--text-color-white)
}

.banner-content h2 {
    font-size: 48px;
    color: var(--text-color-white)
}

.banner-content p {
    font-size: 16px;
    color: var(--text-color-white)
}

.banner-content .banner-content__item>div {
    margin-bottom: 12px;
}

.banner-content .view-more {
    margin-top: 24px;

}

.banner-content .view-more a {
    border-color: var(--background-gradient);
    color: var(--text-color-white);
    border-radius: 100px;
}

.banner-content .view-more a:hover {
    background: var(--background-gradient);
    color: var(--text-color-white);
}

.banner-list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 80%;
    overflow: hidden;
    border-radius: 12px;
}

.banner-list .banner-item {
    max-width: 450px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;

} */

/* SWIPER */

.swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0;
    left: unset !important;
    position: absolute;
    width: unset !important;
}

.swiper-pagination .swiper-pagination-bullet {
    height: 32px;
    border-radius: 100px;
    animation: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 0.5s;
}
.swiper-pagination .swiper-pagination-bullet-active {
    animation: height 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 0.5s;
    transition-delay: .2s;
}

.swiper-button-next, .swiper-button-prev{
    position: absolute;
    bottom: 0;
    top: unset !important;
    right: unset;
   
    padding: 12px 20px;
    background: #f5f5f5;
    border-radius: 100px;
}

.swiper-button-next{
    right: 45%;
}
.swiper-button-prev{
    left: 45%;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 16px;
}

/* END HEADER */


/* MAIN */
section{
    margin: 12px 0;
}
.category-item a {
    display: block;
    text-align: center;
    color: var(--text-color-main);
}
.category-item .category-image{
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid var(--background-color-main);
}

.category-item .category-image img {
    transform: all .5s ease-in-out;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.img-hover-scale:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
/* END MAIN */

/* FOOTER */
/* END FOOTER */