@media screen and (max-width:991px) {
    .header .header-item.navigation{
        display: none;
    }
    .header .header-item.action{
        display: none;
    }
    .header .header-item.menu-bar{
        display: block;
    }

    .header .header-mb{
        display: block;
    }
}