.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
}

.form-group {
    position: relative;
}

button.btn {
    padding: 8px;
    border-radius: 6px;
    border: none;
    
}

.btn{
    padding: 8px 16px;
    outline: none;
    background: transparent;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

.d-grid {
    display: grid;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center ;
}

.gap-10{
    gap:10px
}

.mt-8{
    margin-top:8px
}

.ladi-title{
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;
    position: relative;
}

.ladi-title::after{
    content:'';
    position: absolute;
    width: 10%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    background: var(--background-color-main);
    margin-bottom: -12px;
}